# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
dist/
build/

# Environments
.venv/
.env/
venv/

# Jupyter
.ipynb_checkpoints/

# Coverage / testing
.coverage
htmlcov/
.cache/
.pytest_cache/

# MkDocs build output
site/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
